<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("navBar.ejs") %>
    <div class="box">
        <%- include("aboutUs.ejs") %>
        <%- include("plus.ejs") %>
        <%- include("footer.ejs") %>
    </div>
    <script src="/action.js" charset="UTF-8"></script>
</body>
</html>