<nav>
    <a href="/" id="logo"><img src="/Logo.png" alt="logo" id="logoimg"><span>BookBlog</span></a>
    <ul id="sidebar">
        <li onclick=closeSideBar() ><a href="#" class="nav-element" id="sideBarCloseIcon"><img src="/sideBar_icon.png" alt="sideBar Button"></a></li>
        <li><a href="/about" class="sidebar-element">About Us</a></li>
        <li><a href="/allBooks" class="sidebar-element">Books</a></li>
        <li><a href="/newBook" class="sidebar-element">New Book</a></li>
    </ul>
    <ul id="nav-items">
        <li class="hideOnMobile"><a href="/about" class="nav-element">About Us</a></li>
        <li class="hideOnMobile"><a href="/allBooks" class="nav-element">Books</a></li>
        <li class="hideOnMobile"><a href="/newBook" class="nav-element ">New Book</a></li>
        <li class="sideBar_icon hideOnDesktop" onclick=showSideBar()><a href="#" class="nav-element"><img src="/sideBar_icon.png" alt="sideBar Button"></a></li>
    </ul>
</nav>
